<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    package="edu.stanford.cs.sujogger"
	android:versionName="1.0.0" 
	android:versionCode="1"
	android:installLocation="auto">

    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="1"/>
    <supports-screens
         android:largeScreens="true"
         android:normalScreens="true"
         android:smallScreens="true" />

   <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.WAKE_LOCK" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.READ_PHONE_STATE" />
         
	<application 
      android:icon="@drawable/icon" 
      android:label="@string/app_name"
      android:description="@string/app_name" 
      android:allowClearUserData="true" 
      android:debuggable="false">

		<uses-library android:name="com.google.android.maps" />
		
		<service android:name="edu.stanford.cs.gaming.sdk.service.GamingService">
            <intent-filter>
                <action android:name="edu.stanford.cs.gaming.sdk.service" />
            </intent-filter>        
        </service>
		
		<activity
            android:label="@string/app_name" 
            android:name=".viewer.JoggerApp" 
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity
            android:label="@string/app_name" 
            android:name=".viewer.LoggerMap" 
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter android:label="Show track on map">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:host="edu.stanford.cs.sujogger" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.stanford.cs.track" />
            </intent-filter>
		</activity>
		        
         <activity 
            android:label="@string/menu_settings" 
            android:name=".logger.SettingsDialog"/>

         <activity
            android:label="@string/track_list" 
            android:name=".viewer.TrackList"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:label="@string/my_achievements" 
            android:name=".viewer.AchievementCatList"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.AchievementList"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.LeaderBoard"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>

         <activity
            android:name=".viewer.StatisticsView"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.GroupList"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.GroupDetail"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.FriendPicker"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.GroupPicker"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.MessageSender"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.Feed"
            android:launchMode="singleTop" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <activity
            android:name=".viewer.GameMessageDetail"
            android:launchMode="singleTop" >
            <intent-filter>
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>

         <activity
             android:name=".viewer.TracksLiveFolder"
             android:label="@string/track_list"
             android:icon="@drawable/icon" >
             <intent-filter>
                 <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
         </activity>

         <activity
             android:name=".viewer.PeopleTrackList"
             android:label="@string/track_list"
             android:icon="@drawable/icon" 
             android:configChanges="keyboardHidden|orientation">
             <intent-filter>
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
         </activity>

		<service android:enabled="true" android:name=".logger.GPSLoggerService">
			<intent-filter android:label="GPS logger">
				<action android:name="edu.stanford.cs.sujogger.intent.action.GPSLoggerService"></action>
			</intent-filter>
		</service>

		<provider 
            android:enabled="true" 
            android:authorities="edu.stanford.cs.sujogger"
            android:permission="android.permission.ACCESS_FINE_LOCATION"
			android:name=".db.GPStrackingProvider" >
            <path-permission android:path="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
            <path-permission android:path="/live_folders/tracks"
                android:readPermission="com.android.launcher.permission.WRITE_SETTINGS" />
		</provider>
      
        <activity android:label="@string/menu_statistics" android:name=".actions.Statistics"
        	android:screenOrientation="portrait">
        </activity> 

		<activity android:label="@string/receive_filewriter" 
			android:name=".actions.ExportGPX"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.stanford.cs.track" />
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PUBLISH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.stanford.cs.track" />
            </intent-filter>       			
		</activity>
		
		<activity android:label="@string/receive_gpxpublish" 
			android:name=".actions.PublishGPX"
			android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.PUBLISH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.stanford.cs.track" />
            </intent-filter>       
		</activity>		

         <activity
            android:label="@string/receive_gpxsender"
            android:name=".actions.SendGPX"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
               <action android:name="android.intent.action.RUN" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:mimeType="vnd.android.cursor.item/vnd.edu.stanford.cs.track" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PUBLISH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.stanford.cs.track" />
            </intent-filter>                   
         </activity>
		
        <activity android:label="@string/receive_kmzfilewriter" 
        	android:name=".actions.ExportKMZ"
        	android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.stanford.cs.track" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PUBLISH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.stanford.cs.track" />
            </intent-filter>            
        </activity>
        
        <!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14cc66e3e79b51" android:name="ADMOB_PUBLISHER_ID" />
		      
		<!-- AdMobActivity definition -->
		<activity android:name="com.admob.android.ads.AdMobActivity" 
		    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		    android:configChanges="orientation|keyboard|keyboardHidden" />
		
		<!-- Track Market installs -->          
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver" android:exported="true">
		  <intent-filter>
		    <action android:name="com.android.vending.INSTALL_REFERRER" />
		  </intent-filter>
		</receiver>
		<meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />
    </application>
</manifest>
